.main
	background-image: url('../img/main_bg.jpg')
	background-size: cover
	text-transform: uppercase
	&__video
		position: absolute
		width: 100%
		height: 100%
		background-color: #000
		z-index: -1
		opacity: 0
		transition: all .3s
		&.shown
			opacity: 1
			z-index: 4
		video
			width: 100%
			position: absolute
			top: 0
			bottom: 0
			margin: auto
	.play_btn
		font-size: .52vw
		width: 17.3em
		height: 17.3em
		border-radius: 50%
		//background-color: #cb232b
		background-color: #da3833
		box-shadow: 0 0 32px rgba(255,255,255,.46)
		position: absolute
		bottom: 25%
		right: 0
		left: 0
		cursor: pointer
		margin: auto
		animation-name: pulse
		animation-duration: 1s
		animation-timing-function: ease-in-out
		animation-iteration-count: infinite
		animation-direction: alternate-reverse
		z-index: 2
		.play_mask
			position: absolute
			width: 100%
			height: 100%
			background-color: rgba(255,255,255,0)
			top: 0
			left: 0
			border-radius: 50%
			z-index: 1
		&:hover
			animation-play-state: paused
		img
			position: absolute
			left: 1em
			top: 0
			bottom: 0
			right: 0
			margin: auto
			width: 3em
			height: 4.5em
	&__title
		font-size: 8em
		padding-top: 2em
	&__subtitle
		font-size: 4.4em
// @keyframes pulse
// 	0%
// 		box-shadow: 0 0 32px rgba(255,255,255,.46)
// 		transform: scale(1)
// 		background-color: #cb232b
// 	50%
// 		box-shadow: 10px 10px 132px rgba(255,255,255,1)
// 		transform: scale(.7)
// 		background-color: #000
// 	100%
// 		box-shadow: 0 0 32px rgba(255,255,255,.46)
// 		transform: scale(1)
// 		background-color: #cb232b
// 		//transform: rotate(180deg)
@keyframes pulse
	0%
		box-shadow: 0 0 32px rgba(255,255,255,.46)
		transform: scale(1)
		background-color: #da3833
	15%
		box-shadow: 10px 10px 132px rgba(255,255,255,1)
		transform: scale(.7)
		background-color: #ff1912
	30%
		box-shadow: 0 0 32px rgba(255,255,255,.46)
		transform: scale(1)
		background-color: #da3833
		//transform: rotate(180deg)
