.desc
	background-image: url('../img/third_bg.jpg')
	padding-top: 60px
	&__list
		font-size: .52vw
		width: 110em
		float: right
		@media (max-width: 1500px)
			font-size: .57vw
		&.sublist
			margin-top: 12em
			width: 55em
		&__item
			font-size: 1.8em
			margin-bottom: 2.5vh
			font-weight: bold
			position: relative
			&:last-of-type
				margin-bottom: 0
			&:before
				position: absolute
				content: ''
				width: 8px
				height: 13px
				background-image: url('../img/arrow_right.png')
				left: -2.5em
				top: .25em
			em
				font-size: 1.3em
				font-style: normal
				text-transform: uppercase
			span
				display: block
				font-size: .78em